certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
dropbox==11.25.0
Flask==2.0.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
ply==3.11
requests==2.26.0
six==1.16.0
stone==3.2.1
urllib3==1.26.7
Werkzeug==2.0.2
